
#header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: lightsteelblue;
}

h2{
    font-family: Tangerine;
    font-size: 36px;
    margin-bottom: 20px;
}

p{
    font-family: Inconsolata;
    font-size: 18px;
}

.logo-img{
    max-width: 100%;
    min-width: 10px;
    display: block;
    height: auto;
}

.companylogo{
    width: 80px;
    height: 80px;
    display: inline-block;
    font-family: Lobster;
}

.header-container{
    width: 100%;
    display: inline-block;
    padding: 20px 20px 20px 0px;
}

.nav-container{
    width: 90%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.nav-menu{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.menuitem{
    width: 25%;
}

.page-container
{
    margin-top: 150px;
}

.dragon-types{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.dragon-type {
    align-self: center;
    border-color: black;
    border: 2px solid gray;
    width: 400px;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.dragon-image{
    width: 350px;
    padding: 20px;
}

.dragon-img{
    max-width: 100%;
    min-width: 10px;
    display: block;
}

footer{
    margin-top: 50px;
    background-color: lightcyan;
}

#email{
    border-color: red;
}

#submit{
    background: yellow;
}

@media (max-width: 1000px){

    .dragon-types{
        display: block;
    }

}